[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.9"


[packages]

dj-database-url = "*"
django = "~=2.2"
gunicorn = "*"
"psycopg2" = "==2.8.6"
whitenoise = "*"
djangorestframework = "*"
django-environ = "*"
requests = "*"
jsonfield = "*"
django-extensions = "*"
channels = "~=1.1"
asgi-redis = "*"
"fabric3" = "*"


[dev-packages]

