<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doing Stuff</title>
  <script>
    var settings = {
      list_events_url: "{% url 'events' %}",
      room: "{{ room }}"
    }
  </script>
  <style>
    body {
      font-family: monospace;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 8em;
      padding:0 1em;
    }
  </style>
</head>
<body>
  <div id="messages"></div>
  <div id="youtube" style="position: fixed; z-index: -99; width: 100%; height: 100%; left: 0; top: 0"></div>
</div>

  <script src="/static/js/reconnecting-websocket.min.js"></script>
  <script>
    var messageDiv = document.getElementById("messages");
    var youtubeDiv = document.getElementById("youtube");

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/rooms/" + settings.room);

    chatsock.onmessage = function(message) {
      handleEvent(JSON.parse(message.data));
      console.log(message);
    };

    function handleEvent(event){
      event = event.data;
      if(event.color){
        document.body.style.backgroundColor = event.color;
        youtubeDiv.innerHTML = "";
      }
      if(event.message){
        var message = document.createElement("div");
        message.className = "message";
        message.innerText = event.message;
        messageDiv.insertBefore(message, messageDiv.firstChild);
      }
      if(event.youtube_id){
        if(/^[a-zA-Z0-9_-]+$/.test(event.youtube_id)) {
          youtubeUrl = ' https://www.youtube.com/embed/' + event.youtube_id + '?autoplay=1&loop=1&cc_load_policy=1&rel=0&controls=0&showinfo=0&playlist=' + event.youtube_id;
          youtubeDiv.innerHTML = '<iframe frameborder="0" height="100%" width="100%" src="' + youtubeUrl + '"></iframe>\n';
        }
      }
    }
  </script>
</body>
</html>